<%- include ../material/style.ejs %>

<body>

  <%- include ../templetes/templete.ejs %>
  <div class="container" style="margin-top: 30px;">
    <div class="row">
      <div class="col-5">
        <div class="card-trolley">

          <div class="row">
            <div class="col-5 col-md-3 ">
              <div class="profile-photo mt-4 ml-3">
                <img src="/images/good.png" alt="">
              </div>
            </div>

            <div class="col-7 col-md-9">
              <div class="ul-list">
                <ul class="profile-list">
                  <li>
                    <strong class="label-cus">ผู้รับผิดชอบ</strong>
                    <span class="count">ฐาปกรณ์ ขรัวทองเขียว</span>
                  </li>
                  <li>
                    <strong class="label-cus">ตำแหน่ง</strong>
                    <span class="count"><%= nurse[0].nurse_position%></span>
                  </li>
                  <li>
                    <strong class="label-cus">เบอร์โทรศัพท์</strong>
                    <span class="count"><%= nurse[0].nurse_tel%></span>
                  </li>
                  <li>
                    <strong class="label-cus">ตึกบริการ</strong>
                    <span class="count"><%= nurse[0].room_unit%></span>
                  </li>
              </div>
            </div>

          </div>

        </div>
        <div class="form-check-hn">
          <form class="d-flex" action="" method="POST">
            <input class="form-control me-2" type="text" placeholder="ป้อนรหัสผู้ป่วย" aria-label="Search" name="id">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>

      </div>
  <% if(messages.error) {%>
    <div class="alert alert-danger" role="alert"><%= messages.error%></div>
<%}%>
<% if(messages.success) {%>
    <div class="alert alert-success" role="alert"><%= messages.success%></div>
<%}%>
      <div class="col-7">

      </div>
    </div>

  </div>
</body>